.Chat-main
  .Chat-main__group-info
    .Chat-main__header 
      %p.Chat-main__text test
      %p.Chat-main__member Member : masa
    = link_to "#", class: "Chat-main__edit" 
    edit
  .Chat-main__message-list
  .Chat-main__message-form