.Side-bar
  .Side-bar__header
    .Side-bar__box
      %h3.Side-bar__name masa
      %ul.Side-bar__icons
        %li 
        = link_to "#", class: "Side-bar__icon "do
          = icon('far', 'edit', class: "Side-bar__icon--edit")
        %li
        = link_to "#", class: "Side-bar__icon " do
          = icon('fas', 'cog', class: "Side-bar__icon--cog")

  .Side-bar__group-list

