.Side-bar
  .header
    .left-heder
      %p.left-heder__name masa
      %ul.left-heder__icons
        %li 
        = link_to "#", class: "left-heder__icons__icon "do
          = icon('far', 'edit', class: "left-heder__icons__edit")
        %li
        = link_to "#", class: "left-heder__icons__icon " do
          = icon('fas', 'cog', class: "left-heder__icons__cog")

  .group-list
    %h2.group-list__group techcamp
    %p.group-list__message まだメッセージがありません

