.Side-bar
  .Side-bar__header
    .Side-bar__box
      %p.Side-bar__name masa
      %ul.Side-bar__icons
        %li 
        = link_to "#", class: "Side-bar__icon "do
          = icon('far', 'edit', class: "Side-bar__edit")
        %li
        = link_to "#", class: "Side-bar__icon " do
          = icon('fas', 'cog', class: "Side-bar__cog")

  .Side-bar__group-list
    %h2.Side-bar__group techcamp
    %p.Side-bar__message まだメッセージがありません

